<h1>I miei negozi</h1><br>
<h3>In questa pagina puoi accedere ai tuoi negozi o aggiungere un nuovo negozio</h3><br>
<div class="row">
  <div class="col-12">

      <!-- Row -->
      <div class="row">
          <!-- column -->
          <div class="col-lg-2 col-md-6" *ngFor="let n of negozi">
              <!-- Card -->
              <div class="card">

                  <img class="card-img-top img-responsive"  src={{n.immagine}}  alt="Card image cap" (click)=apriVetrina(n.id)>

                  <div class="card-body">
                      <h4 class="card-title">{{n.nome}}</h4>
                  </div>
              </div>
              <!-- Card -->
          </div>


          <div class="card">
            <div class="col-lg-2 col-md-6">

            <img class="card-img-top img-responsive" src="../assets/images/add.png" alt="Card image cap" (click)=aggiungiNegozio()>

            </div>
            <div class="card-body">
                <h4 class="card-title">Aggiungi</h4>
            </div>
        </div>
