<img src="..\assets\images\logo.png" class="center" width="82" height="82">
<h2 style="color:black" align="center">Social Delivery</h2>
<br>
<br>
 <div align="center">
  <div class="col-lg-6 col-md-10">
  <form class="list-form" [formGroup]="form">

    <div class="form-group">
        <label>Email</label>
        <input type='text'  class="form-control" formControlName="email" [(ngModel)]='user.email'>
        <ng-container *ngFor="let validation of validation_messages.email">
          <mat-error  *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">{{validation.message}}</mat-error>
        </ng-container>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type='text' class="form-control"  formControlName="password" [(ngModel)]='user.password'>
      <ng-container *ngFor="let validation of validation_messages.password">
        <mat-error  *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">{{validation.message}}</mat-error>
      </ng-container>
  </div>
</form>


  <p align='center'>
    <button mat-raised-button class="text-themecolor m-b-0" shape="round" color="primary" (click)="login()">
      Accedi
    </button>

    <div class="text-center">
      <span (click)="goToRegister()" class="paz" tappable>
        <p color="dark" class="text08">
          Non sei registrato? <strong>Registrati</strong>
        </p>
      </span>
    </div>
  </div>

</div>


